body {    font-family: arial;  background-color: #778899;  }
h1 {        background-color:#778899;    border: 10px solid; font-size: 50px;   color:#39F;    text-align: left; text-indent: 550px;  text-decoration: blink; }
.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table {    background-color: #F60;    border: 1px solid #39F;    width: 100%;    }
td {    border: 0px;    text-align: center;  background-color: #778899 }
p {    color:#09F;    text-indent: 20px; font-size: 50px;       }